body {
  height: 100vh;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
}

.container {
  max-width: 955px;
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  border: #fff;
  padding: 10px;
  margin: auto;
  height: 60vh;
  overflow-y: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.message {
  background-color: lightgrey;
  width: 24%;
  padding: 10px;
  margin: 17px 12px;
  border: 1px solid white;
  border-radius: 10px;
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}
.heading {
  text-align: center;
  color: #fff;

  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  width: fit-content;
  margin: 20px auto;
  padding: 14px;
  border-radius: 10px;
  font-size: 25px;
}

#send-container {
  display: block;
  margin: auto;
  text-align: center;
  max-width: 988px;
  width: 100%;
  padding: 14px;
}
#messageInp {
  width: 90%;
  border-radius: 6px;
  height: 30px;
}
.btn {
  cursor: pointer;
  border-radius: 6px;
  height: 34px;
  font-size: x-large;
  background-color: #1b2845;
  background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
  color: #fff;
}
